# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of common libraries used in Data Science
- List of the main Open source Data Science Tools
- Introduction to arithmetic expressions


Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Matplotlib
4. Scikit-learn


|Data Science Tools|
|------------------|
|Jupiter Notebook|
|R Studio|
|Apache Spark|

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
x=3*4
y=5
z=x+y
print(z)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
min = 200
div= 60
h = min /div
print(h)

3.3333333333333335

## Author
Youssef ECHOUKRY